services:
  db:
    image: postgres:latest
    networks:
      - hmpps
    container_name: personal-relationships-db
    restart: always
    ports:
      - "${LOCAL_DB_PORT:-5432}:5432"
    environment:
      POSTGRES_DB: personal-relationships-db
      POSTGRES_USER: contacts
      POSTGRES_PASSWORD: contacts
      DPR_USER: dpr_user
      DPR_PASSWORD: dpr_password

networks:
  hmpps:
