 SYSTEM_CLIENT_ID="system client id used for auth [eg: <no_example>]"
 SYSTEM_CLIENT_SECRET="system client secret used for auth [eg: <no_example]"
 DB_SERVER="the host of the local DB (used by application.yaml <br/> and application-test.yaml) [eg: localhost] "
 DB_NAME="the name of the database (for local, <br/> it relates to the name docker compose uses) [eg: personal-relationships-db]"
 DB_USER="the username for the database (for local, <br/> it relates to the user docker compose uses) [eg: contacts]"
 DB_PASS="the password for the database (for local, <br/> it relates to the user docker compose uses) [eg: contacts]"
 DB_SSL_MODE="the security of the database connection [eg: prefer]"
 LOCAL_DB_PORT="the port of of the database (for local, <br/> it relates to the user docker compose uses)[eg: 5772]"
 POSTGRES_TEST_DB_PORT="the port the integration tests use (optional, set if you don't want it using the default 5432 port) [eg: 5773]"
 DPR_USER="[eg: dpr_user]"
 DPR_PASSWORD="[eg: dpr_password]"
