#
# The "local" profile is for running the API service locally against pre-existing
# docker containers that are listening on a known port numbers for a postgres database (5432).
# Some values are provided by the run-local.sh script.
#

# Most values are inherited from - application.yml - except the following:
spring:
  datasource:
    url: 'jdbc:postgresql://${DB_SERVER}:${LOCAL_DB_PORT:-5432}/${DB_NAME}?sslmode=prefer'
    username: ${DB_USER}
    password: ${DB_PASS}

  jpa:
    show-sql: true

  flyway:
    locations: classpath:/migrations/common,classpath:/migrations/test
    placeholders:
      dpr_user: ${DPR_USER}
      dpr_password: ${DPR_PASSWORD}

system:
  client:
    id: ${SYSTEM_CLIENT_ID}
    secret: ${SYSTEM_CLIENT_SECRET}

# External dependent service DEV URLs
api:
  base:
    url:
      hmpps-auth: https://sign-in-dev.hmpps.service.justice.gov.uk/auth
      prisoner-search: https://prisoner-search-dev.prison.service.justice.gov.uk
      manage-users: https://manage-users-api-dev.hmpps.service.justice.gov.uk
      organisations: https://organisations-api-dev.hmpps.service.justice.gov.uk
