version: 2.1
orbs:
  hmpps: ministryofjustice/hmpps@10
parameters:
  slack-channel-prod-alerts:
    type: string
    # Normally team specific alert channel e.g. hmpps_tech_alerts, syscon-alerts, dps_sed_alerts
    # This is to avoid a general alert dumping ground that no-one then monitors
    default: managing-contacts-alerts-prod
  slack-channel-non-prod-alerts:
    type: string
    default: managing-contacts-alerts-non-prod
  java-version:
    type: string
    default: "25.0"
  postgres-tag:
    type: string
    default: "16"
jobs:
  validate:
    executor:
      name: hmpps/java_postgres
      jdk_tag: << pipeline.parameters.java-version >>
      postgres_tag: << pipeline.parameters.postgres-tag >>
      postgres_db: "personal-relationships-db"
      postgres_username: "contacts"
      postgres_password: "contacts"
    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-{{ checksum "build.gradle.kts" }}
            - gradle-
      - run:
          command: ./gradlew check
      - save_cache:
          paths:
            - ~/.gradle
          key: gradle-{{ checksum "build.gradle.kts" }}
      - store_test_results:
          path: build/test-results
      - store_artifacts:
          path: build/reports/tests
workflows:
  version: 2
