name: Build and test kotlin

on:
  workflow_call:
    inputs:
      java_version:
        type: string
        required: false
        default: '21'
      java_options:
        type: string
        default: '-Xmx512m -XX:ParallelGCThreads=2 -XX:ConcGCThreads=2 -Djava.util.concurrent.ForkJoinPool.common.parallelism=2 -Dorg.gradle.daemon=false -Dkotlin.compiler.execution.strategy=in-process'
        required: false

permissions:
  contents: read

jobs:
  kotlin-validate:
    name: validate the Kotlin app
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16.9
        env:
          POSTGRES_USER: contacts
          POSTGRES_PASSWORD: contacts
          POSTGRES_DB: personal-relationships-db
        ports:
          - 5445:5432
        options: >-
          --health-cmd="pg_isready -U postgres -d personal-relationships-db"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - uses: actions/checkout@v6
      - name: refresh cache
        id: initial-cache
        uses: actions/cache@v5
        env:
          cache-name: kotlin-cache
        with:
          path: |
            - gradle-{{ checksum "build.gradle.kts" }}
            - gradle-
          key: ${{ runner.os }}-gradle-${{ env.cache-name }}-${{ hashFiles('build.gradle.kts') }}
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '${{ inputs.java_version }}'
          cache: 'gradle'
          cache-dependency-path: |
            *.gradle*
            **/gradle-wrapper.properties
      - name: gradlew check
        shell: bash
        run: |
          export JAVA_OPTS="${{ inputs.java_options }}"
          export SPRING_PROFILES_ACTIVE="test" 
          ./gradlew check
      - name: upload the artifacts
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: upload kotlin validation results
          path: |
            build/test-results
            build/reports/tests